@charset "UTF-8";
/*
 * main.scss
 */
@import url("//fonts.googleapis.com/css?family=Alegreya:400,400italic,600,800");
input, button, textarea {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-align: inherit;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
input::-moz-focus-inner, button::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.character-attributes .form-cell-secondary label, .mini-button, .medium-button, .action-button, input, textarea, button, body {
  font-weight: 400;
}

.log-list .roll-result, .log-list .dice, .log-list .enemy-name, .log-list .chr-background, .log-list .chr-name, .log-list .plyr-name, .player-dice .dice-result, .character-list .skill-total, .character-attributes .form-cell-secondary .field, .character-attributes .form-cell-main .field, .character-attributes label, .player-card .character-name,
.player-card .character-background, .mini-button, .medium-button, .alt.mini-button .fa-layers-text, .alt.medium-button .fa-layers-text, .alt.action-button .fa-layers-text, .mini-button .fa-layers-text, .medium-button .fa-layers-text, .action-button .fa-layers-text, .room-name, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-weight: 800;
}

.mini-button, .medium-button, .action-button, input, textarea, button, body {
  font-family: "Alegreya", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya", serif;
}

body {
  font-size: 1.1rem;
  background: url(/assets/img/myfreetextures-wood.jpg);
  margin: 0 2rem;
}

input, textarea, button {
  font-size: 1em;
  border: 2px solid black;
  background-color: white;
  padding: 2px 4px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #f2e2ae;
  display: inline-block;
}

h2 {
  font-size: 1.2rem;
}

.room-name {
  float: right;
  color: #f2e2ae;
  margin-top: 1.5rem;
}
.room-name a {
  color: inherit;
  text-decoration: none;
}

.comment {
  font-size: 0.85rem;
}

.log-page, .party-header, .player, .game-setup-form, .modal .content {
  background: #e5dcd3 url(/assets/img/bedge_grunge.jpg);
  border: 2px solid #000;
  box-shadow: 3px 4px 5px 1px rgba(0, 0, 0, 0.6);
}

.mini-button, .medium-button, .action-button {
  position: relative;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  box-shadow: 2px 3px 3px #666;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.mini-button span, .medium-button span, .action-button span {
  background: none;
}
.mini-button span:after, .medium-button span:after, .action-button span:after {
  background: none;
}
.mini-button :after, .medium-button :after, .action-button :after {
  content: "";
  position: absolute;
  top: 0px;
  left: 2px;
  width: calc(100% - 4px);
  height: 10%;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}
.mini-button:active:not(:disabled), .medium-button:active:not(:disabled), .action-button:active:not(:disabled) {
  top: 2px;
  box-shadow: 2px 1px 2px #666;
}
.mini-button:disabled, .medium-button:disabled, .action-button:disabled {
  box-shadow: none;
}
.mini-button:not(:disabled), .medium-button:not(:disabled), .action-button:not(:disabled) {
  background-image: linear-gradient(#00538f, #0071c2);
}
.mini-button:hover:not(:disabled), .medium-button:hover:not(:disabled), .action-button:hover:not(:disabled), .active.mini-button:not(:disabled), .active.medium-button:not(:disabled), .active.action-button:not(:disabled) {
  background-image: linear-gradient(#007fdc, #109bff);
}
.mini-button:disabled, .medium-button:disabled, .action-button:disabled {
  border-color: #444422;
  background-image: linear-gradient(#666633, #888844);
}
.mini-button .fa-layers-text, .medium-button .fa-layers-text, .action-button .fa-layers-text {
  color: #00538f;
}
.mini-button .fa-layers-text:hover .text, .medium-button .fa-layers-text:hover .text, .action-button .fa-layers-text:hover .text {
  color: #007fdc;
}
.alt.mini-button, .alt.medium-button, .alt.action-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.alt.mini-button:not(:disabled), .alt.medium-button:not(:disabled), .alt.action-button:not(:disabled) {
  background-image: linear-gradient(#6b0f0f, #981515);
}
.alt.mini-button:hover:not(:disabled), .alt.medium-button:hover:not(:disabled), .alt.action-button:hover:not(:disabled), .alt.active.mini-button:not(:disabled), .alt.active.medium-button:not(:disabled), .alt.active.action-button:not(:disabled) {
  background-image: linear-gradient(#ae1818, #db1f1f);
}
.alt.mini-button:disabled, .alt.medium-button:disabled, .alt.action-button:disabled {
  border-color: #444422;
  background-image: linear-gradient(#666633, #888844);
}
.alt.mini-button .fa-layers-text, .alt.medium-button .fa-layers-text, .alt.action-button .fa-layers-text {
  color: #6b0f0f;
}
.alt.mini-button .fa-layers-text:hover .text, .alt.medium-button .fa-layers-text:hover .text, .alt.action-button .fa-layers-text:hover .text {
  color: #007fdc;
}

.item-actions-button, .item-context .item-action, .expander-button, .lock-button {
  font-size: 0.8rem;
  background: #e5dcd3;
  color: #666633;
  border: 1px solid #666633;
  cursor: pointer;
}
.item-actions-button:hover, .item-context .item-action:hover, .expander-button:hover, .lock-button:hover {
  background-color: #eee9e3;
}

.item-context .item-action, .expander-button, .lock-button {
  border-radius: 30px;
}
.item-context .item-action span, .expander-button span, .lock-button span {
  width: 15px;
  text-align: center;
}
@keyframes red-glow-outer {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(255, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0);
  }
}
@keyframes red-glow-status {
  0% {
    box-shadow: 0 0 0 0px rgba(204, 0, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(204, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(204, 0, 0, 0);
  }
}
@keyframes green-glow-status {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 204, 0, 0.7);
  }
  70% {
    box-shadow: 0 0 0 7px rgba(0, 204, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(0, 204, 0, 0);
  }
}
.dice-icon {
  font-size: 1.1rem;
}

.dice-icon + .dice-icon {
  margin-left: 3px;
}

.dice-icon.stacked {
  position: relative;
}

.dice-icon .fa-layers-text {
  font-size: 0.9rem;
  position: absolute;
  left: 3px;
}

.divided {
  border-right: 2px solid white;
  padding-right: 3px;
}
.divided:last-child {
  border: none;
  padding-right: 0;
}

.medium-button {
  font-size: 0.9rem;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  padding: 2px 2px;
  display: inline-block;
  text-align: center;
}

.mini-button {
  font-size: 0.8rem;
  height: 23px;
  width: 23px;
  padding: 2px 2px;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
}
.mini-button :after {
  border-radius: 15px 15px 0 0;
  height: 20%;
}

.add-button {
  font-size: 0.7rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Status effects */
.status-icon {
  height: 25px;
  width: 25px;
  line-height: 25px !important;
  padding: 2px 2px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
}

.status-combat {
  background-color: #c00;
  border: 2px solid black;
  color: white;
  z-index: 1;
  animation: red-glow-status 2s infinite;
}

.status-initiative {
  background-color: #0c0;
  border: 2px solid black;
  color: white;
  z-index: 1;
  font-size: 2rem;
  padding-left: 7px;
  width: 20px;
  animation: green-glow-status 2s infinite;
}

.hide {
  display: none !important;
}

.nobr {
  white-space: nowrap;
}

/* Forms */
.form-row {
  margin-bottom: 0.5rem;
}
.form-row:last-child {
  margin-bottom: 0;
}

.item-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.item-list li {
  margin-bottom: 0.25rem;
}

.field {
  font-size: 0.8rem;
  margin-right: 3px;
}
.field:last-child {
  margin-right: 0;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-items: center;
  align-items: center;
}
.modal.active {
  display: grid;
}

.game-setup-form {
  padding: 1rem 1.5rem;
  display: inline-block;
}

/* Game Board */
.main-game {
  width: 100%;
  display: flex;
}

.players {
  flex-grow: 1;
}

.player {
  float: left;
  width: 220px;
  padding: 0.5rem 0.5rem;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}
.player.active {
  border: 2px solid #c00;
  animation: red-glow-outer ease-in-out 2s infinite;
}
.player header {
  margin-bottom: 10px;
}

.character {
  position: relative;
}
.character fieldset {
  padding: 0.25rem 0rem 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.character fieldset:nth-child(1),
.character fieldset:nth-child(2) {
  border-top: none;
}
.character .character-header {
  text-align: right;
}
.character .action-buttons {
  display: inline-block;
  border: 2px groove ThreeDFace;
  margin-top: -2px;
  padding: 0px 2px 3px;
}

.lock-button {
  margin-top: 2px;
  margin-left: -17px;
}

.expander {
  position: relative;
}

.expander-button {
  z-index: 1;
  position: absolute;
  right: 0px;
  bottom: -20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.party-header {
  padding: 0.5rem 0.5rem;
  margin: 0px 5px 10px;
}

.player-card {
  margin-bottom: 10px;
}
.player-card header {
  margin-bottom: 0;
}
.player-card h2 {
  font-size: 1rem;
}
.player-card .item-list {
  font-size: 0.9rem;
}
.player-card .player-name {
  font-size: 1.1rem;
}
.player-card .character-name,
.player-card .character-background {
  font-size: 1.3rem;
}

.player.me {
  min-width: 250px;
  width: auto;
}
.player.me .character-form {
  display: grid;
  grid-template-columns: 225px 225px;
}
.player.me .character-skills, .player.me .character-special {
  grid-column: 1/span 2;
}
.player.me .character-inventory {
  grid-row: 3/span 2;
}

.new-character {
  position: relative;
  top: 0;
  left: 0;
}

.character-info .field {
  width: calc(100% - 12px);
}

.character-attributes {
  display: flex;
  padding: 0 0 7px;
}
.character-attributes .form-col {
  flex-grow: 1;
  text-align: center;
  margin-right: 0.12rem;
  border-right: 2px groove ThreeDFace;
  padding-right: 0.12rem;
}
.character-attributes .form-col:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.character-attributes .form-cell {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.character-attributes label {
  display: block;
  text-align: center;
  font-size: 1.2rem;
}
.character-attributes .form-cell-main .field {
  width: 36px;
  padding: 0 0 3px;
  height: 30px;
  font-size: 2.2rem;
  line-height: 1;
}
.character-attributes .form-cell-secondary label {
  font-size: 1rem;
}
.character-attributes .form-cell-secondary .field {
  height: 20px;
  width: 20px;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1;
}

.warning {
  color: red;
  border-color: red;
}

.character-list {
  position: relative;
}
.character-list textarea {
  width: calc(100% - 10px);
  min-height: 100px;
  max-width: 434px;
  min-width: 434px;
}
.character-list .checkbox {
  width: 21px;
  height: 21px;
  background-color: white;
  color: black;
}
.character-list .checkbox:checked {
  background-color: #01573e;
  color: white;
}
.character-list .checkbox:checked::after {
  content: "✓";
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 1rem;
}
.character-list .skill-row {
  display: grid;
  grid-template-columns: 22px auto 28px 28px 5px;
}
.character-list .skill-name {
  flex-grow: 1;
}
.character-list .skill-value, .character-list .skill-total {
  text-align: center;
  flex-grow: 0;
  width: 20px;
  height: 22px;
  font-size: 1.2rem;
  padding: 0;
}
.character-list .skill-total {
  background-color: transparent;
  margin-right: 5px;
}
.character-list .inventory-item {
  width: calc(100% - 28px);
  margin-right: 0;
}

.item-actions-button span {
  margin: 0 -2px;
}

.inventory-row {
  position: relative;
}

.item-context {
  position: absolute;
  top: 25px;
  right: 1px;
  z-index: 1;
  background: #e5dcd3;
  border: 2px solid black;
  box-shadow: 2px 3px 7px 3px #666;
}
.item-context ul {
  list-style: none;
  height: 17px;
  overflow: hidden;
  padding: 2px 2px 3px;
}
.item-context li {
  display: inline-block;
}
.item-context .item-action {
  width: 17px;
  height: 17px;
}
.item-context .item-action span {
  position: relative;
  top: -4px;
  left: -4px;
}
.item-context .item-action .fa-caret-up, .item-context .item-action .fa-caret-down {
  font-size: 1rem;
}

.player-dice {
  padding: 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
}
.player-dice .dice-result {
  width: 40px;
  padding: 0 0 3px;
  height: 30px;
  font-size: 2.2rem;
  line-height: 1;
  text-align: center;
  margin-top: -2px;
  margin-left: 1rem;
}

.drawer {
  margin-top: 0.5rem;
  border-top: 2px groove ThreeDFace;
}

/* Logs */
.log-page {
  width: 300px;
  height: calc(100vh - 66px);
  padding: 0.25rem 0.5rem;
  margin-bottom: 2rem;
}

.log-list {
  max-height: calc(100% - 50px);
  overflow-y: scroll;
  list-style: none;
  padding-left: 0;
}
.log-list li {
  border-top: 2px groove ThreeDFace;
  padding: 0.5rem 0.25rem 0.5rem 0;
}
.log-list .plyr-name {
  color: #00538f;
}
.log-list .chr-name {
  color: #00538f;
}
.log-list .chr-background {
  color: #00538f;
}
.log-list .enemy-name {
  color: #6b0f0f;
}
.log-list .divided:first-child {
  border-color: black;
}
.log-list .datetime {
  display: block;
  text-align: right;
  font-size: 0.8rem;
}
.log-list .roll-result {
  color: #01573e;
  font-size: 1.5em;
  line-height: 1;
  display: block;
  border: 3px solid #01573e;
  padding: 0px 0px;
  border-radius: 35px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0.5rem auto 0;
}
.log-list .message-combat-start .message-text,
.log-list .message-combat-end .message-text,
.log-list .message-combat-round .message-text {
  font-weight: bold;
  display: block;
  text-align: center;
}

/* Notes */
.player-notes-drawer {
  font-size: 0.8rem;
}

.player-notes {
  width: 440px;
  height: 150px;
  font-size: 0.8rem;
}

/* Combat */
.player-combat-drawer {
  position: relative;
  padding: 0.25rem 0rem 0;
}
.player-combat-drawer .action-buttons {
  margin-bottom: 0.5rem;
}

.enemy-row {
  display: grid;
  grid-template-columns: auto 28px 22px;
}

/*# sourceMappingURL=main.css.map */
