<div class="main-game" ng-class="{hide: !ready}" ng-model-options="{ updateOn: 'blur'}">
  <section class="self" id="self">
    <article class="player me">
      <header>
        <form class="form player-form">
          <div class="form-row">
            <input type="text" class="field" id="player-name" placeholder="Player Name" ng-model="gamestate.player.name"/>
          </div>
        </form>
      </header>

      <secton class="action-buttons">
        <button class="drawer-toggler action-button new-character" title="New Character"
          ng-click="$ctrl.toggleDrawer('character')" ng-class="{active: $ctrl.drawers.character}">
          <span class="fas fa-user"></span>
        </button>

        <button class="drawer-toggler action-button show-dice-drawer" title="Open Dice Drawer"
          ng-click="$ctrl.toggleDrawer('dice')" ng-class="{active: $ctrl.drawers.dice}">
          <span class="fas fa-dice-six dice-icon"></span>
        </button>

        <button class="drawer-toggler action-button show-notes-drawer" title="Open Notes Drawer"
          ng-click="$ctrl.toggleDrawer('notes')" ng-class="{active: $ctrl.drawers.notes}">
          <span class="fas fa-pen-nib"></span>
        </button>
      </secton>

      <dice-drawer parent="$ctrl"></dice-drawer>

      <section class="player-notes-drawer drawer" id="player-notes-drawer" ng-hide="!$ctrl.drawers.notes">
        <h2>My Notes</h2>
        <div class="form-row">
          <textarea id="player-notes" data-autosave="true" class="player-notes field" ng-model="gamestate.character.notes"></textarea>
        </div>
      </section>

      <section class="character-list drawer" id="character-list-drawer" ng-hide="!$ctrl.drawers.character">
        <div id="characters" ng-include="'/partials/characterForm.html'"></div>
      </section>
    </article>
  </section>

  <section class="players" id="players" ng-include="'/partials/playerCards.html'"></section>

  <aside class="logs" id="logs" ng-include="'/partials/eventLog.html'"></aside>
</div>